@use "../abstracts" as *;

article {
  padding: 4em 1em;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

// Summary
#summary {
  padding: 0 20px 3.5em;
  max-width: 35em;
  margin: 0 auto;
}

// Timeline
#timeline {
  margin: 0 auto;
  padding-right: 1.7em; // shift timeline to the left for optical centering
  display: grid;
  grid-template-columns: 50px auto;
  max-width: 50em;

  // Content Boxes
  section.date {
    grid-column: 2;
    border: 2px solid $tertiary-color;
    border-radius: 10px;
    padding: 20px;
    margin-top: -3em; // line up points with associated blocks
    margin-bottom: 3em; // create breathing room between blocks
  }

  // Visual Graph
  // place in left column
  .left {
    grid-column: 1;
    margin: 0 auto;
  }
  // points
  .dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid $secondary-color;
    background-color: white;
    margin: 7px auto;
  }
  // lines
  .line {
    width: 2px;
    background-color: $tertiary-color;
    // hide the last line in the timeline for a clean close
    &:last-of-type {
      width: 0;
    }
  }
}

// Bonus Info
#bonus {
  padding-top: 0;

  // Content Boxes
  section.bonus {
    padding: 20px;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 0 0 6px fade-out($tertiary-color, 0.4);
    // max-width: 18em;
    // image
    img {
      display: block;
      margin: 0 auto 1em;
    }
    // header
    h3 {
      position: relative;
      margin-bottom: 1.2em;
    }
    // underline
    h3::after {
      content: "";
      position: absolute;
      left: 0;
      height: 7px;
      bottom: -12px;
      width: 48px;
      background-color: $secondary-color;
    }
  }
}
