@use "../abstracts" as *;

article {
  padding: 4em 1em;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

// Story Summary
#story {
  @include summary;
}

// Timeline
#timeline {
  margin: 0 auto;
  padding-right: 1.7em; // shift timeline to the left for optical centering
  max-width: 50em;
  display: grid;
  grid-template-columns: 50px auto;

  // Content Boxes
  section.date {
    grid-column: 2;
    border: 2px solid $tertiary-color;
    border-radius: 10px;
    padding: 20px;
    margin-top: -3em; // line up points with associated blocks
    margin-bottom: 3em; // create breathing room between blocks
  }

  // Visual Graph
  // place in left column
  .left {
    grid-column: 1;
    margin: 0 auto;
  }
  // points
  .dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid $secondary-color;
    background-color: white;
    margin: 7px auto;
  }
  // lines
  .line {
    width: 2px;
    background-color: $tertiary-color;
    // hide the last line in the timeline for a clean close
    &:last-of-type {
      width: 0;
    }
  }
}

// Bonus Summary
#bonus {
  @include summary;
}

// Bonus Info
// Cards Container
#bonus-cards {
  // Content Cards
  @include content-cards;
  @media screen and (min-width: 750px) {
    @include content-cards(large);
  }
}
