@use "../abstracts/" as *;

#header {
  display: flex;
  background-color: $primary-color;
  height: 30em;
  justify-content: center;
  align-items: center;
  h1 {
    background-color: $comp-color;
    padding: 0.5em;
  }
}
