@use "../abstracts/" as *;

#header {
  display: flex;
  background: $primary-color center/cover url(../images/globe.svg) no-repeat;
  height: 40rem;
  justify-content: center;
  align-items: center;
  h1 {
    background-color: white;
    padding: 0.5em;
  }
}
