@use "../abstracts" as *;

article {
  padding: 10px;
}

#timeline {
  // Content spacing
  h3 {
    margin: 0.5em 0;
  }
  .date {
    margin: 0;
  }

  // Timeline content boxes
  .timeline-content-box {
    border: 1px solid $primary-color;
    border-radius: 10px;
    margin-left: 1em;
    padding: 10px;
    p {
      margin: 0.5em 0;
    }
  }

  // Timeline graph
  .timeline-point {
    // Position content
    padding: 0 1em 1em 1em;

    // Create line
    margin-left: 1em;
    border-left: 3px solid $primary-color;

    // Create points
    .date:before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $comp-color;
      border: 3px solid $primary-color;
      position: absolute;
      left: 19.5px;
    }
  }
}
