// Typography
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@380;650&family=Sora:wght@800&display=swap");
$header-font: "Sora";
$body-font: "Work Sans";

// Colors
$primary-color: black;
$comp-color: white;
