@use "../abstracts/" as *;

body {
  font-size: 100%;
  font-family: $body-font, Arial, sans-serif;
}
h1,
h2,
h3 {
  font-family: $header-font, Arial, sans-serif;
}
h1 {
  font-size: 2.2rem;
  text-align: center;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
p {
  font-size: 1.2em;
  &.date {
    font-size: 1.1em;
    color: $primary-color;
  }
}
#summary {
  text-align: center;
}
footer p {
  font-size: 0.9em;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
